.monument {
}

.container {
  max-width: 30rem;
  text-align: left;
  margin: 0 auto;
  max-height: 40rem;
  overflow: scroll;
}

body {
  text-align: center;
}

.monument img {
  height: 20rem;
}

footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
